<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GlobalCode.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <GlobalCode.My.MySettings>
            <setting name="Icons" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>A001</string>
                        <string>A002</string>
                        <string>A003</string>
                        <string>A004</string>
                        <string>B001</string>
                        <string>B002</string>
                        <string>B003</string>
                        <string>B004</string>
                        <string>C001</string>
                        <string>C002</string>
                        <string>C003</string>
                        <string>C004</string>
                        <string>D001</string>
                        <string>D002</string>
                        <string>D003</string>
                        <string>D004</string>
                    </ArrayOfString>
                </value>
            </setting>
        </GlobalCode.My.MySettings>
    </userSettings>
</configuration>