<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OMSFileBox.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OMSFileBox.My.MySettings.OMSDBConnectionString" connectionString="Data Source=HP;Initial Catalog=OMSDB;Persist Security Info=True;User ID=Admin;Password=QW741erty"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <OMSFileBox.My.MySettings>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>HP</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>OMSDB</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>OMS</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>/nndK8YlJOU=</value>
            </setting>
            <setting name="Pooling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Trusted" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>None</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>192.168.1.10</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8888</value>
            </setting>
        </OMSFileBox.My.MySettings>
    </userSettings>
</configuration>
