<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SSPLMS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <SSPLMS.My.MySettings>
            <setting name="StatementHeaderFont" serializeAs="String">
                <value>Times New Roman, 15.75pt, style=Bold</value>
            </setting>
            <setting name="StatementMarginRight" serializeAs="String">
                <value>71</value>
            </setting>
            <setting name="StatementMarginLeft" serializeAs="String">
                <value>71</value>
            </setting>
            <setting name="StatementMarginTop" serializeAs="String">
                <value>71</value>
            </setting>
            <setting name="StatementMarginBottom" serializeAs="String">
                <value>71</value>
            </setting>
            <setting name="StatementFont" serializeAs="String">
                <value>Times New Roman, 11.25pt</value>
            </setting>
            <setting name="StatementImage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StatementPageNumberY" serializeAs="String">
                <value>1150</value>
            </setting>
            <setting name="DefaultFile" serializeAs="String">
                <value />
            </setting>
        </SSPLMS.My.MySettings>
    </userSettings>
</configuration>
