<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SSPLM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <userSettings>
        <SSPLM.My.MySettings>
            <setting name="ResultFont" serializeAs="String">
                <value>Times New Roman, 11.25pt</value>
            </setting>
            <setting name="DetailsFont" serializeAs="String">
                <value>Times New Roman, 11.25pt</value>
            </setting>
            <setting name="CoverFont" serializeAs="String">
                <value>Times New Roman, 12pt</value>
            </setting>
            <setting name="CoverAddressPoint" serializeAs="String">
                <value>154, 90</value>
            </setting>
            <setting name="CoverReportNoPoint" serializeAs="String">
                <value>36, 36</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>someone@gmail.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="Provider" serializeAs="String">
                <value>Gmail</value>
            </setting>
            <setting name="SMTP" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="Quot" serializeAs="String">
                <value>"</value>
            </setting>
            <setting name="DisplayName" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReportBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReportLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReportRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SignatureX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SignatureY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SignatureWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SignatureHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Filename" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageFixedWidth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImageHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StatementHeaderFont" serializeAs="String">
                <value>Times New Roman, 15.75pt, style=Bold</value>
            </setting>
            <setting name="StatementFont" serializeAs="String">
                <value>Times New Roman, 11.25pt</value>
            </setting>
            <setting name="pageNumberLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="pageNumberFont" serializeAs="String">
                <value>Times New Roman, 11.25pt</value>
            </setting>
            <setting name="StatementImage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StatementMarginTop" serializeAs="String">
                <value>71</value>
            </setting>
            <setting name="StatementMarginBottom" serializeAs="String">
                <value>71</value>
            </setting>
            <setting name="StatementMarginLeft" serializeAs="String">
                <value>71</value>
            </setting>
            <setting name="StatementMarginRight" serializeAs="String">
                <value>71</value>
            </setting>
            <setting name="ReportNumLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ReportDateLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ReportNameLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ReportAgeLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ReportSexLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ReportReferredLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ReportHospitalLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ReportReceivedDate" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ReportResultLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="StatementPageNumberY" serializeAs="String">
                <value>1150</value>
            </setting>
        </SSPLM.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
