<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OMSUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <OMSUI.My.MySettings>
            <setting name="Server" serializeAs="String">
                <value>PRINTSCAN\SQLEXPRESS</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>OMSDB</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Bq7/dnvphNG2XbkRYRBqbg==</value>
            </setting>
            <setting name="LastLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="Pooling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Skin" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultStorage" serializeAs="String">
                <value>J:\OMS_Storage</value>
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value>192.168.1.10</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8888</value>
            </setting>
            <setting name="View_Client_Basic" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ID</string>
                        <string>PAN</string>
                        <string>ClientName</string>
                        <string>Mobile</string>
                        <string>Email</string>
                        <string>DOB</string>
                        <string>Address1</string>
                        <string>Address2</string>
                        <string>District</string>
                        <string>Pincode</string>
                        <string>AadharNo</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="View_Client_Custom" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Photo</string>
                        <string>ID</string>
                        <string>PAN</string>
                        <string>ClientName</string>
                        <string>FatherName</string>
                        <string>Mobile</string>
                        <string>Email</string>
                        <string>DOB</string>
                        <string>Address1</string>
                        <string>Address2</string>
                        <string>District</string>
                        <string>Pincode</string>
                        <string>State</string>
                        <string>AadharNo</string>
                        <string>Description</string>
                        <string>TypeOfEngagement</string>
                        <string>TIN</string>
                        <string>CIN</string>
                        <string>PartnerDirector</string>
                        <string>Type</string>
                        <string>Credentials</string>
                        <string>Jobs</string>
                        <string>Status</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="View_Client_All" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Photo</string>
                        <string>ID</string>
                        <string>PAN</string>
                        <string>ClientName</string>
                        <string>FatherName</string>
                        <string>Mobile</string>
                        <string>Email</string>
                        <string>DOB</string>
                        <string>Address1</string>
                        <string>Address2</string>
                        <string>District</string>
                        <string>Pincode</string>
                        <string>State</string>
                        <string>AadharNo</string>
                        <string>Description</string>
                        <string>TypeOfEngagement</string>
                        <string>TIN</string>
                        <string>CIN</string>
                        <string>PartnerDirector</string>
                        <string>Type</string>
                        <string>Credentials</string>
                        <string>Jobs</string>
                        <string>Status</string>
                        <string>SSMA_TimeStamp</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="View_Client_Current" serializeAs="String">
                <value>0</value>
            </setting>
        </OMSUI.My.MySettings>
    </userSettings>
</configuration>
