<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Devil7.Automation.OMS.UI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <Devil7.Automation.OMS.UI.My.MySettings>
            <setting name="LastUserIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultStorage" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewHome" serializeAs="String">
                <value>Minimal</value>
            </setting>
            <setting name="ViewWorkbook" serializeAs="String">
                <value>Minimal</value>
            </setting>
            <setting name="ViewBilling" serializeAs="String">
                <value>Minimal</value>
            </setting>
            <setting name="SortClient" serializeAs="String">
                <value>FileNo</value>
            </setting>
            <setting name="ViewPending" serializeAs="String">
                <value>Minimal</value>
            </setting>
        </Devil7.Automation.OMS.UI.My.MySettings>
    </userSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="libs" />
        </assemblyBinding>
    </runtime>
</configuration>